<div class="row">
  <div class="col-sm-4">
    {{#link-to 'authors.new' class='btn btn-primary btn-block'}}Add new Author{{/link-to}}
    {{authors-list authors=model}}
  </div>
  <div class="col-sm-4">
    {{outlet}}
  </div>
</div>